<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>elx-imgbox</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.0.5/theme-chalk/index.css">
    <style>
      [v-cloak]{
        display: none;
      }

      .container {
        clear: both;
        margin:0 auto;
        width: 800px;
      }

      h1 {
        margin: 80px 0 20px;
      }

    </style>
  </head>
  <body>

  <div class="container" id="app-1" v-cloak>
    <h1>上传多图</h1>

    <elx-imgbox v-model="imgList" :action="action" :list-url="listUrl" :limit="10"></elx-imgbox>


    <h1>上传单图</h1>

    <elx-imgbox v-model="imgs" :action="action" :list-url="listUrl" :multiple="false"></elx-imgbox>

  </div>

    <script src="https://cdn.staticfile.org/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.staticfile.org/element-ui/2.13.0/index.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.19.0/axios.min.js"></script>
    <script src="./dist/imgbox.js"></script>

    <script>
      var vm = new Vue({
        el: '#app-1',
        data (){
          return {
            imgList: [
              {
                "thumb": "http://cdn.lizhi.fm/radio_cover/2014/04/13/10850578555531778.jpg",
                "url": "http://cdn.lizhi.fm/radio_cover/2014/04/13/10850578555531778.jpg"
              },
              {
                "thumb": "http://img.weixinyidu.com/150531/8d509835.jpg",
                "url": "http://img.weixinyidu.com/150531/8d509835.jpg"
              }
            ],
            imgs: [],
            action: 'test/upload.json',//'https://imgbox.imcm.me/test/upload.json',
            listUrl: 'test/list.json',
          }
        }
      });

    </script>
  </body>
</html>
